<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">

<head>
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>

<body>
<h1>Design your Taco!</h1>
<!-- <img th:src="@{images/taco.png}"/> -->

<form method="POST" th:object="${taco}">

    <span class="validationError"
          th:if="${#fields.hasErrors('ingredients')}">Ingredient Error. Please correct the problems below and resubmit.</span>

    <!-- Old version. Delete when all works together.
    <div th:if="${#fields.hasErrors()}">
        <p class="validationError">Please correct the problems below and resubmit.</p>
    </div>
    -->

    <div class="grid">

        <div class="ingredient-group" id="wraps">
            <h3>Designate your wrap:</h3>
            <div th:each="ingredient: ${wrap}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">INGREDIENT</span></br>
            </div>
        </div>

        <div class="ingredient-group" id="proteins">
            <h3>Pick a protein:</h3>
            <div th:each="ingredient: ${protein}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">INGREDIENT</span></br>
            </div>
        </div>

        <div class="ingredient-group" id="cheese">
            <h3>Choose a cheese:</h3>
            <div th:each="ingredient: ${cheese}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">INGREDIENT</span></br>
            </div>
        </div>

        <div class="ingredient-group" id="veggies">
            <h3>Determine your veggies:</h3>
            <div th:each="ingredient: ${veggies}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">INGREDIENT</span></br>
            </div>
        </div>

        <div class="ingredient-group" id="sauces">
            <h3>Select your sauce:</h3>
            <div th:each="ingredient: ${sauce}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">INGREDIENT</span></br>
            </div>
        </div>
    </div>

    <div>
        <h3>Name your Taco creation:</h3>

        <span class="validationError"
              th:if="${#fields.hasErrors('name')}"
              th:errors="*{name}">Name Error</span>
        <br/>
        <input type="text" th:field="*{name}"/>

        <button>Submit your taco</button>
    </div>

</form>
</body>
</html>
